.classHead {
	color:#000066;
	height: 100px;
	background-color: #1E90FF;	
	text-align:center;
 }
 .classJpg{
	 border:4px solid #ff0000;
 }
 
 .classPng{
	 border:4px solid #0033cc;
 }
 
 .classHead a{
	  display:inline-block;
 }
 
 /*.classMenu {
	 color:#000066;
	 width:calc(20%);
	 height:800px;
	 background-color: #ffff66;
	 display:inline-block;
	 vertical-align:top;
	 text-align:center;
 }*/
 
 .classContent {
	 width:calc(100%);
	 height:800px;
	 background-color:#c9ff99;
	 display:inline-block;
	 vertical-align:top;
 }
 
 .classPreview {
	 max-width:120px;
	 
 }
 
  .classFullSize {
	 max-width:500px;
	 
 }
 
 .classDiv {
	 display:inline-block;
	 vertical-align:top;
	 text-align:center;
	 color:#000066;
 }
 
 .classButton{
	display:block;
	
 }
 
  .classPencil{
	display:block;
	margin-top:-20px;
	position:fixed;
	
 }
 
 .classTextArea{
	width: calc(50%);
	height: calc(50%);
}
