<html ng-app='game'>
	<head>
		<base href="/">
		<link rel="stylesheet" type="text/css" href="mysite.css">
		<script src="js/angular.min (1).js"> </script>
		<script src="js/main.js"> </script>
		<script src="js/service.js"> </script>
		<script src="js/angular-route.js"> </script>
		<title>Space</title>
	</head>
	
	<body ng-controller="GalleryController">

	<div class="classHead"> 
	
		<a href="site.html#!/MainPage"><p>Main Page</p></a>		
		<a href="site.html#!/Gallery"><p>Gallery</p></a>
		<a href="site.html#!/AddImage"><p>Add Image</p></a>
		<div ng-show='user'>Hello, {{user.lgn}}!</div>
		<div ng-show='!user'>
			<input type="text" placeholder="Enter your login" width="40" ng-model="lgn">		
			<input type="text" placeholder="Enter your password" width="40" ng-model="passrd">		
			<input type="button" value="log in" ng-click="login()">
		</div>
	</div>
	
	<div class="classContent" ng-view>Loading...</div>
	
	
	
	</body>
</html>
