<html ng-app='game'>
	<head>
		<link rel="stylesheet" type="text/css" href="mysite.css">
		<script src="js/angular.min (1).js"> </script>
		<script src="js/main.js"> </script>
		<title>Space</title>
	</head>
	
	<body ng-controller="GalleryController">

	<div class="classHead"> 
		<h1>All About Space</h1>
	</div>
	
	<div class="classMenu">
		<h2>Menu</h2>
	</div>

	<div class="classContent"> 		
		
	</div>
	
	<footer class="classFooter">
		<input type="text" width="40" ng-model="imageName">
		<input type="text" width="40" ng-model="imageURL">
		<input type="button" value="add" ng-click="addImage()">
	</footer>
	
	</body>
</html>